@import '../../../styles/colors';

.footer-grid {
  background-color: $blue-gray-600;
  color: $blue-gray-200;

  .mat-grid-tile:nth-child(-n+3) {
    border-bottom: 1px solid $white;
  }
}

.mat-grid-tile {
  .footer-grid-info {
    width: 100%;
    padding-left: 6vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  // .footer-grid-info:nth-child(-n+3) {
  //   border-bottom: 1px solid $white;
  // }
}

.footer-grid-info {
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;

}

ul {
  list-style: none;

  li {
    margin: 2px;
  }
}

.footer-grid-bottom {
  width: 100%;
  position: relative;

  mat-icon {
    position: absolute;
    left: 35%;
  }
}

