
<mat-grid-list cols="3" rowHeight="5vh" class="footer-grid">
  <mat-grid-tile
      colspan="1"
      rowspan="3">
    <div class="footer-grid-info">
      <h3>Podstrony</h3>
      <ul>
        <li>
          About
        </li>
        <li>
          Contact
        </li>
      </ul>

    </div>
  </mat-grid-tile>

  <mat-grid-tile
      colspan="1"
      rowspan="3">
    <div class="footer-grid-info">
      <h3>Documents</h3>
      <ul>
        <li>
          Terms of service
        </li>
        <li>
          Tak
        </li>
      </ul>

    </div>

  </mat-grid-tile>

  <mat-grid-tile
      colspan="1"
      rowspan="3">
    <div class="footer-grid-info">
      <h3>Adress</h3>
      <ul>
        <li>
          33-100 Tarnów
        </li>
        <li>
          ul. Jakaś 33
        </li>
        <li>
          Tel. 123 456 678
        </li>
      </ul>

    </div>

  </mat-grid-tile>

  <mat-grid-tile
      colspan="1"
      rowspan="1">
    <div class="footer-grid-info">
      <mat-icon color = "primary">check</mat-icon>

    </div>

  </mat-grid-tile>
  <mat-grid-tile
      colspan="2"
      rowspan="1">
    <div class="footer-grid-info">
      <h4>© Serwis Maszyn i Urządzeń Produkcyjnych 2023 - {{ year }}</h4>

    </div>

  </mat-grid-tile>

</mat-grid-list>