@import '../../../styles/colors';

.footer-grid {
  .mat-grid-tile:nth-child(-n+3) {
    border-bottom: 1px solid $white;
  }
}

//TODO: move mat-grid-tile to material override file
.mat-grid-tile {
  .footer-grid-info {
    width: 100%;
    padding-left: 6vw;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.footer-grid-info {
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

ul {
  list-style: none;
  padding: 0;

  li {
    margin: 2px;
  }
}

.footer-grid-bottom {
  width: 100%;
  position: relative;
}
