@import '../../../styles/mixins';

nav {
  @include full-size();
  @include content-center(flex-end);
}

.nav-link {
  @include content-center();
  height: 100%;
  padding: 0 8px;
  border: 1px solid limegreen;
}
