/* #region External Styles */
@import '~normalize.css';
/* #endregion External Styles */

/* #region Application Styles */
@import './styles/reset';
@import './styles/theme/theme';
@import './styles/material/material';
/* #endregion Application Styles */

html, body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;
}